<a href="https://colab.research.google.com/github/TakeakiSudo/Iryo_adavance_2025/blob/main/For%E6%96%8720240423.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## For文の基本


For文は以下の形式で書かれます：
```
for 変数 in イテラブル:
    # 繰り返したい処理
```

*   変数は、イテラブルから一つずつ値を受け取るためのものです。
*   イテラブルは、リストやタプル、文字列など、繰り返しアクセス可能なデータ構造です。

**リストの要素を出力**

リスト内の各要素を出力する簡単な例を見てみましょう。

In [ ]:
# リストの作成
numbers = [1, 2, 3, 4, 5]

# 各要素を順番に出力
for number in numbers:
    print(number)

1
2
3
4
5

このコードでは、リストnumbersの各要素がnumber変数に代入され、print()関数で出力されます。

**文字列の文字を一つずつ出力**

文字列内の各文字を一つずつ出力する例です。

In [ ]:
# 文字列の定義
message = "Hello, world!"

# 各文字を順番に出力
for char in message:
    print(char)

H
e
l
l
o
,

w
o
r
l
d
!

ここでは、文字列messageから一文字ずつ取り出して、print()で出力しています。

**range()関数**

range()関数は以下の形式で使用されます

```
range(start, stop, step)
```


*   startはシーケンスの開始値を指定します（この値を含む）。デフォルトは0です。
*   stopはシーケンスの終了値を指定します（この値を含まない）。
*   stepはシーケンスの各要素間の差を指定します。デフォルトは1です。

**単純なrangeの使用**

0から9までの数を出力する基本的な例です。

In [ ]:
# 0から9までの数を出力
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

5から9までの数を出力する基本的な例です。

In [ ]:
# 5から9までの数を出力
for i in range(5, 10):
    print(i)

5
6
7
8
9

ここでは、range()が5から始まり、10に達する前に止まるため、5から9までが出力されます。

**stepの使用**

0から9までの数を出力するが、2つ飛ばしで出力する例です。

In [ ]:
# 0から9までの数を2つ飛ばしで出力
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

このコードは、0から始まり10未満の範囲で、数値を2ずつ増やしながら出力します。そのため、0, 2, 4, 6, 8が出力されます。

**逆順に数を出力**

10から1までの数を逆順で出力する例です。

In [ ]:
# 10から1まで逆順に出力
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

この例では、10から始まり、1より大きい間、iの値が1ずつ減少していきます。そのため、10から1までが出力されます。

**ループ内での条件分岐**

ループ内で条件分岐を使って、特定の条件を満たす要素だけに何か処理を行う例です。

In [ ]:
# 数字のリスト
numbers = [1, 2, 3, 4, 5]

# 各数字が偶数の場合にのみ出力
for number in numbers:
    if number % 2 == 0:
        print(f"{number} is even")

2 is even
4 is even

このコードでは、numbersリストの各要素が偶数かどうかを判定し、偶数の場合にのみ出力しています。

## 応用例

**For文を使ったリストの内包表記**.  
リストの内包表記は、新しいリストを生成する際にfor文を短く書く方法です。

全ての要素に何かしらの操作を行い新しいリストを作成

In [ ]:
# 元のリスト
numbers = [1, 2, 3, 4, 5]

# 各要素を2倍にして新しいリストを作成
doubled_numbers = [number * 2 for number in numbers]

print(doubled_numbers)

[2, 4, 6, 8, 10]

このコードでは、numbersリストの各要素を2倍にし、それを新しいリストdoubled_numbersに格納しています。

**複数のリストを同時にループ**.  
Pythonのzip()関数を使用すると、複数のリストを同時にループすることができます。これにより、リスト同士の要素を簡単に組み合わせたり、比較したりすることができます。

二つのリストの要素を組み合わせて出力

In [ ]:
# 名前と年齢のリスト
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]

# 名前と年齢を組み合わせて出力
for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old

この例では、namesとagesの各要素を一つずつ取り出し、組み合わせて出力しています。

**辞書に対するループ**.  
Pythonの辞書をfor文でループする場合、キー、値、またはその両方を取り出すことができます。

辞書のキーと値を出力

In [ ]:
# 辞書の作成
info = {'name': 'Alice', 'age': 25}

# キーと値を出力
for key, value in info.items():
    print(f"{key}: {value}")

name: Alice
age: 25

このコードでは、辞書infoの各要素（キーと値のペア）にアクセスし、それぞれを出力しています。